<h1> Welcome to the <b> Vibezone! </b><br/>
<p>We're very excited that you've decided to join our community :)</p>
<p>Please make sure to check out your account <%= link_to "here", user_url(@user) %> </p>
