<div id="replies_container_<%= comment.id %>" style="margin-left:50px;">
  <%= turbo_frame_tag dom_id(comment, :replies) %>
  <%= turbo_frame_tag dom_id(comment, :load_replies) do %>
    <%= button_to "#{pluralize(comment.replies.count, 'reply')}", replies_comment_path(comment), class: "round-btn blank",
      data: { 
            turbo_frame: dom_id(comment, :replies),
            controller: "toggle",
            action: "toggle#showButton",
            toggle_button_param: "toggle-replies-button-#{comment.id}"
          } %>
  <% end %>
</div>