<div id="pager" class="text-center">
  <div>
    <% if pagy.next %>
      <%= link_to(
        "Load more notifications",
        notifications_path(page: pagy.next),
        class: "btn btn-primary",
        data: {
          turbo_stream: ""
        }
      ) %>
    <% end %>
  </div>
</div>