<div class="p-3 flex-grow-1">
  <%= turbo_frame_tag :notifications do %>
    <%= render partial: "shared/empty_state", locals: { elements: "notifications" } %>
    <%= render @notifications %>
  <% end %>
  <%= render "pager", pagy: @pagy %>
</div>
