<div class="d-flex flex-column align-items-center p-3">  
  <% if @users.any? %>
    <h2 class="text-center"> Search results </h2>
    <div class="row row-cols-md-3 row-cols-2 g-3">
      <%= render @users %>
    </div>
  <% else %>
    <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
      <div class="text-center text-muted">
        <h2>No users found</h2>
      </div>
    </div>
  <% end %>
</div>
