<%= link_to notifications_path, class: "btn btn-light round-btn", id: "notifications_link", title: "Notifications" do %>
  <i class="fa-solid fa-bell text-dark"></i>
  <span class="badge bg-danger"><%="#{notifications_count(new_notifications_count)}"%></span>
<% end %>
