<%= link_to notifications_path, id: "notifications_link" do %>
  <i class="fa-solid fa-bell"></i>
  <span class="badge bg-danger"><%="#{notifications_count(new_notifications_count)}"%></span>
<% end %>
