<%= link_to notifications_path, id: "notifications_link", title: "Notifications", class: "position-relative" do %>
  <i class="fa-solid fa-bell fs-5 nav-icon"></i>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"><%="#{notifications_count(new_notifications_count)}"%></span>
<% end %>
