<ul>
<% @friendships.each do |friendship| %>
  <li> <%= friendship.friend.full_name %> </li>
  <li> <%= button_to "Remove friend", friendship_path(friendship), method: :delete %> </li>
<% end %>
</ul>
