<ul>
<% @friendships.each do |friendship| %>
  <li> <%= friendship.friend.full_name %> </li>
  <li> <%= button_to "Remove friend", friendship_path(friendship), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </li>
<% end %>
</ul>
