<% @mutuals.each do |friendship| %>
  <li> <%= link_to "#{friendship.friend.full_name}", user_path(friendship.friend) %> </li>
  <li> <%= button_to "Remove friend", friendship_path(friendship), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </li
<% end %>
